<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>adspin</title>
	<meta http-equiv="X-Ua-Compatible" content="IE=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">

	<link rel="shortcut icon" href="icons/favi.png">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

	<script src="js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/js/fileinput.min.js"></script>


	<script src="https://unpkg.com/vue@3"></script>
	<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> -->


</head>

<body>

	<div id="app">
		<header class="navbar-container">
			<nav class="navbar navbar-dark bg-color-blue navbar-expand-sm">

				<a class="navbar-brand" href="#"><img src="img/logo_blank_circle.png" width="30" height="30" class="d-inline-block mr-1 align-bottom" alt=""> adspin</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik nawigacji" id="navbar-tg-btn" @click.stop="toggle_navbar_collapse('main_menu')">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse" :class="navbar_class_array" :style="navbar_style_object" id="mainmenu" ref="main_menu">

					<ul class="navbar-nav mr-auto">

						<li class="nav-item">
							<a class="nav-link" :class="{ active: active_tab === 'form' }" href="#/form"> Form </a>
						</li>

						<li class="nav-item">
							<a class="nav-link" :class="{ active: active_tab === 'listing' }" href="#/listing"> Listing </a>
						</li>

					</ul>
				</div>

			</nav>
		</header>

		<main class="p-2 p-md-3 mx-xl-auto my-xl-4">
			<section id="inputs" :class="{ 'tab-active': active_tab === 'form' }">

				<div class="container">
					<div class="row">

						<div class="form-group col-md-6">
							<label for="name_of_company" class="name">What you want to advertise?</label>
							<input v-model="form_data.name_of_company" id="name_of_company" type="text" class="form-control" placeholder="adspin" name="name_of_company">
						</div>

						<div class="form-group col-md-6">
							<label for="key_features" class="name">Name three key features of your product</label>
							<input  v-model="form_data.key_features" id="key_features" type="text" class="form-control" placeholder="fast, fresh, effective" name="key_features">
						</div>

						<div class="form-group col-md-12">
							<label for="description">Describe your company in a few words</label>
							<textarea  v-model="form_data.description" id="description" type="text" class="form-control" rows="8" name="description" placeholder="We are a web service that will make your ads spin faster than ever. Our team believes proper advertising is the key to succes. Give it a go and create a custom ad - it's free"></textarea>
						</div>


						<div class="form-group col-12 col-md-2">
							<button id="generate-btn" type="button" class="btn btn-primary" @click="generate_button_click">Generate</button>
						</div>

					</div>
				</div>
			</section>

			<section id="ads_grid" :class="{ 'tab-active': active_tab === 'listing' }">
				<div class="container-fluid">
					<div class="row gy-3" v-for="ads_row in ads">
						<div class="col-12 col-sm-6 col-md-4 col-lg-3 px-1 pb-2" v-for="ad in ads_row">
							<img :src="ad.img_url" alt="sample ad"  @touchend="ad_touch_service(ad, $event)">
							<button type="button" class="like-button" :liked="ad.liked" @click="ad_liked_toggle(ad)">
							</button>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
</body>

<script src="js/service.js"></script>

</html>
