/******* GENERAL *******/

/*
			COLORS

PRIMARY-HOVER:		#0C3D83
PRIMARY:			#0F71D9
PRIMARY-DISABLE:	#4994DB

 */

/*
	BOOSTSTRAP ORIGINAL COLORS

PRIMARY-HOVER:		#0069D9
PRIMARY:			#007BFF
PRIMARY-DISABLE:	#58AAFF

 */

:root
{
  /* --dark_blue:	#0C3D83; */
  /* --blue: 		#0F71D9; */
  --light_blue:	#4994DB;
}


body
{
	background-color: var(--light_blue);
	color: #303030;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

main
{
	background-color: #fdfeff;
	max-width: var(--breakpoint-xl);
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.navbar
{
	min-height: 57px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	z-index: 1;
}





/* ??? */
.bg-color
{
	background-color: #1e76c9 !important;
}





/******* FORM *******/

.inputs
{
	text-align: left;
}

.inputs img
{
	width: 100%;
	height: auto;
}

.inputs p
{
	margin-bottom: 30px;
}

.inputs figcaption
{
	margin-top: 8px;
}

.name
{
	text-align: left;
}


/******* LISTING *******/

.ads-grid .row > [class*="col-"] > img
{
	/* display: inline-block; */
	max-width: 100%;
	/* max-height: 100%; */
}
