body
{
	background-color: #fdfeff;
	color: #303030;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 36px;
	font-weight: 400;
	color: #C0D06F;
	margin: 20px;
}

.inputs
{
	text-align: left;
}

.inputs img
{
	width: 100%;
	height: auto;
}

.inputs p
{
	margin-bottom: 30px;
}

.inputs figcaption
{
	margin-top: 8px;
}

.navbar
{
	min-height: 57px;
}

.bg-color
{
	background-color: #1e76c9 !important;
}

.name{
	text-align: left;
}